body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




*:after,
*:before,
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
:root{
  --mc1: #cc00ff;
	--mc2: #7000ff;
	--hc: #fff;
	--bc: #9ba0b8;
	--hff: 'Heebo', sans-serif;
	--bff: 'Nunito', sans-serif;
}
body{
	font-family: var(--bff);
	font-size: 18px;
	letter-spacing: 0;
	line-height: 1.44;
	font-weight: 400;
	color: var(--bc);
	position: relative;
	word-break: break-word;
	background-color: #0e090f;
}
body,
html{
	width: 100%;
  margin: 0px;
  padding: 0px;
}
body{
	height: auto;
	overflow-x: hidden;
}
html:after,
html:before{
	clear: both;
	display: table;
	content: '';
}
body:after{
	content: '';
	position: fixed;
	width: 270px;
	height: 270px;
	top: 42.8%; /* 463px */
	right: 25%; /* 487px */
	background-color: var(--mc2);
	border-radius: 100%;
	-webkit-filter: blur(150px);
	-o-filter: blur(150px);
	filter: blur(150px);
  backface-visibility: hidden;
  pointer-events: none;
	z-index: -1;
}
body:before{
	content: '';
	position: fixed;
	width: 270px;
	height: 270px;
	top: 27.5%; /* 297px */
	left: 23.9%; /* 479px */
	background-color: var(--mc1);
	border-radius: 100%;
	-webkit-filter: blur(150px);
	-o-filter: blur(150px);
	filter: blur(150px);
  backface-visibility: hidden;
  pointer-events: none;
	z-index: -1;
}
.admin-bar .header{
	top: 32px;
}
.header{
	padding: 30px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 25;
	transition: all .3s ease;
	border-bottom: 1px solid transparent;
}
.header.active{
	z-index: 60;
	padding: 20px 30px;
	background: rgb(27,18,29);
  background: -moz-linear-gradient(90deg, rgba(27,18,29,1) 0%, rgba(18,15,47,1) 50%, rgba(27,18,29,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(27,18,29,1) 0%, rgba(18,15,47,1) 50%, rgba(27,18,29,1) 100%);
  background: linear-gradient(90deg, rgba(27,18,29,1) 0%, rgba(18,15,47,1) 50%, rgba(27,18,29,1) 100%);
	border-bottom-color: rgba(255,255,255,.08);
}
.header .header_in{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.header .trigger_logo{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.header .trigger{
	margin-right: 20px;
}
.trigger{
	display: block;
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #000;
  z-index: 5;
  color: #bbb;
	position: relative;
	cursor: pointer;
}
.trigger:after{
	content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
	top: 0;
	left: 0;
  color: var(--mc1);
  opacity: .15;
  border-radius: 100%;
  box-shadow: 0px 5px 20px;
  transition: all .3s ease;
}
.trigger.active:after,
.trigger:hover:after{
	opacity: .5;
}
.trigger.active span{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.trigger.active span:before{
	bottom: 0;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.trigger.active span:after{
	width: 0;
	transition: none;
}
.trigger span:before,
.trigger span:after,
.trigger span{
	display: block;
	height: 2px;
	position: absolute;
	background-color: #bbb;
	content: '';
	transition: all .3s ease;
}
.trigger span{
	top: 24px;
	width: 24px;
	left: 13px;
}
.trigger span:before{
	bottom: 6px;
	width: 24px;
	left: 0;
}
.trigger span:after{
	top: 6px;
	width: 16px;
	left: 0;
}
.header .nav ul{
	margin: 0;
	list-style-type: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-left: -45px;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.header .nav ul ul.reverse{
	left: auto;
	right: 100%;
}
.header .nav li{
	margin: 0;
	margin-left: 45px;
	position: relative;
  color: white;
}
.header .nav a{
	font-family: var(--hff);
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0;
	text-decoration: none;
	display: block;
	line-height: 32px;
}
.header .nav .sub-menu{
	position: absolute;
	margin: 0;
	width: 240px;
	top: 100%;
	left: 0;
	background-color: #000;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	padding: 25px 0 15px;
  border-radius: 10px;
  margin-left: -20px;
	transition: all .3s ease;
	transform: translateY(20px);
	opacity: 0;
	visibility: hidden;
}
.header .nav .sub-menu:after{
	content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: var(--mc1);
  opacity: .15;
  border-radius: 10px;
  box-shadow: 0px 5px 20px;
  transition: all .3s ease;
}
.header .nav .sub-menu:hover:after{
	opacity: .5;
}
.header .nav li:hover > .sub-menu{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}
.header .nav .sub-menu li{
	margin: 0;
	padding: 0 20px;
	width: 100%;
	margin-bottom: 7px;
}
.header .nav .sub-menu ul{
	top: 0;
	left: 100%;
	margin: 0;
}
.header .nav .sub-menu a{
	line-height: 1.5;
}
.desktop_logo,
.retina_logo{
  vertical-align: middle;
	max-width: 106px;
	max-height: 31px;
}
.creative_link{
  color: white !important;
	/* background-image: linear-gradient(to right, var(--mc1), var(--mc1) 50%, #ddd 50%); */
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  transition: all 0.3s ease-in-out;
}
.creative_link:before{
	content: "";
  background: var(--mc1);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s ease-in-out;
}
.creative_link:hover {
	background-position: 0;
}
.creative_link:hover:before {
  width: 100%;
}